p{
    font-family: brandon_grotesque_regularRg;
    text-align: center;
}
h1{
    font-family: brandon_grotesquebold;
    text-align: center;
}
h2{
    font-family: brandon_grotesqueblack;
    text-align: center;
}

#video-container{
    background-image: url("../images/background3x.jpg");
    background-size: cover;
    background-position: center center;
    max-height: 800px;
    padding: 0;
}
#video-wrapper{
    width: 100%;
    height: 100%;
    max-height: 800px;
    position: relative;
    padding-top: 57.2%;
    display: block;
}
#header-bar{
    height: 100px;
}
#header-logo{
    height: 100px;
    width: 150px;
    margin-left: 17px;
    position: relative;
    float: left;
    white-space: nowrap;
}
#header-row{
    width: 100%;
}
#header-logo-img{
    height: 25px;
    width: 27px;
    position: absolute;
    top:19px;
    left: 0px;
}

.header-logo-p{
    font-size: 26px;
    letter-spacing: -0.6px;
    color: #ffffff;
    position: absolute;
    top: 0px;
    left: 35px;
}

#header-order{
    height: 50px;
    width: 107px;
    margin-right: 0;
    position: relative;
    top: 14px;
    right: 0px;
    float: right;
    white-space: nowrap;
}
#header-order2{
    display: none;
    height: 50px;
    width: 107px;
    margin-right: 0;
    position: relative;
    top: 14px;
    right: 0px;
    float: right;
    white-space: nowrap;
}

.header-order-txt {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #ffffff;
}
.button-span{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}
.underline{
    border-bottom: 1px solid white;
}
#video-button{
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid 3px #ffffff;
    border-radius: 1000px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    text-align: center;
}
#video-button i{

    line-height: 200px;
    font-size: 100px !important;
    color: white;
}
.text-wrapper{
    background-color: white;
    width: 306px;
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.placeholder{
    position: relative;
}
.line{
    width: 90%;
    position: absolute;
    left: 5%;
    top: 10px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
    z-index: -1;
}
.heading-row{
    padding: 0px 10%;
}
.footer-icon{
    font-size: 28px !important;
    color: #d91b55;
    line-height: 51px !important;
}
.media-img{
    width: 55px;
    height: 55px;
    margin: 0 9px;
    position: relative;
}
#media-row{
    background-color: white;
    height: 50.8px;
    margin-top: 60px;
    margin-bottom: 72px;
}
#media-div, #washing-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0px auto;
}
#washing-div{
    width: 90%;
    max-width: 700px;
}

#plus{
    font-size: 27px;
    color: #d5275d;
    margin-left: 27px;
    margin-right: 25px;
}
.regular-button{
    width: 232px;
    height: 68px;
    border: solid 3px #d5275d;
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.regular-button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
.button-text{
    font-family: brandon_grotesqueblack;
    font-size: 20px;
    letter-spacing: 4.7px;
    color: #d5275d;
    text-align: center;
    vertical-align: middle;
    line-height: 68px;
}
#copy-row{
    margin-bottom: 20px;
}
#copy-text{
    font-family: brandon_grotesqueblack;
    font-size: 9px;
    font-weight: 900;
    line-height: 8.33;
    letter-spacing: 1.7px;
    color: #c8224f;
}
.upper-text{
    font-size: 15px;
    letter-spacing: 3px;
    color: #54585b;
}
.heading-text{
    font-size: 50px;
    color: #d5275d;

}
.text-text{
    font-size: 20px;
    color: #76857d;
}
#small-text{
    margin-top: 14px;
    margin-bottom: 73px;
    font-size: 14px;
    color: #54585b;
}
#upper-row1{
     margin-top: 46px;
     margin-bottom: 53px;
}
#upper-row2{
    margin-top: 107px;
    margin-bottom: 90px;
}
#upper-row3{
    margin-top: 119px;
    margin-bottom: 75px;
}
#upper-row4{
    margin-top: 55px;
    margin-bottom: 64px;
}
#text-row1{
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0 110px;
}
#text-row2{
    margin-top: 10px;
    margin-bottom: 54px;
    padding: 0 100px;
}
#text-row3{
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0 90px;
}
#link-wrapper{
    position: absolute;
    height: 80%;
    width: 100%;
    top: 20%;
}
.avoidwrap { display:inline-block; }
@media(max-width:500px){
    #header-logo, #header-order, #header-order2{

        float: none;
        margin: 0 auto;
        text-align: center;
    }
    #link-wrapper{
        position: absolute;
        height: 60%;
        width: 100%;
        top: 20%;
    }
    #header-order{
        display: none;
    }
    #header-order2{
        display: block;
        height: 50px;
        width: 107px;
        position: relative;
        bottom: 0px;
    }
    #upper-row1{
        margin-top: 46px;
        margin-bottom: 20px;
    }
    #upper-row2{
        margin-top: 50px;
        margin-bottom: 40px;
    }
    #upper-row3{
        margin-top: 50px;
        margin-bottom: 40px;
    }
    #upper-row4{
        margin-top: 50px;
        margin-bottom: 40px;
    }
    #text-row1{
        padding: 0 10%;
    }
    #text-row2{
        margin-bottom: 30px;
        padding: 0 10%;
    }
    #text-row3{
        padding: 0 10%;
    }
    #text-row4{
        padding: 0 10%;
    }
    .heading-text{
        line-height: 1;
    }
    #small-text{
        margin-bottom: 40px;
    }
    .avoidwrap{
        display: inline;
    }
    .text-wrapper{
        width: 100%;
    }
    .text-text{
        text-align: center;
    }
}